#legType {
    
    position: relative;
    display: block;
    overflow: auto;
    margin: 0 0 1em;

    button {
        
        width: 50%;
        display: block;
        margin: 0;
        padding: 1.1em 1em;
        border: 0;
        float: left;
        font-size: 0.8em;
        text-transform: uppercase;
        background-color: #E2E2E2;
        position: relative;
        cursor: pointer;
        box-shadow: inset 0px -3px 1px -2px rgba(0,0,0,0.05);
        transition: background-color 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
        
        &:after {
            
            content: "";
            width: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            height: 1px;
            background-color: #A6D2F5;
            transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
        }

        &.selected {
            
            background-color: #FFF;
            box-shadow: none;

            &:after {
                
                width: 50%;
            }
        }
        
        &:focus {
            
            outline: none;
        }
    }
}