<div id="passengers">
    <div id="adults">
        <label>Adults</label>
        <select (change)="onAdultSelect($event.target.value)">
            <option *ngFor="#index of getItemsByCount(passengers.adults)" [value]="index">{{index}}</option>
        </select>
    </div>
    <div id="children">
        <label>Child (4-15)</label>
        <select (change)="onChildSelect($event.target.value)">
            <option *ngFor="#index of getItemsByCount(passengers.children)" [value]="index">{{index}}</option>
        </select>
    </div>
    <div id="infants">
        <label>Infant (0-3)</label>
        <select (change)="onInfantSelect($event.target.value)">
            <option *ngFor="#index of getItemsByCount(passengers.infants)" [value]="index">{{index}}</option>
        </select>
    </div>
    <div id="pets">
        <label>Pets</label>
        <select (change)="onPetSelect($event.target.value)">
            <option *ngFor="#index of getItemsByCount(passengers.pets)" [value]="pet">{{index}}</option>
        </select>
    </div>
</div>